body{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

h1{
    color: #fff;
    font-size: 64px;
    text-transform: uppercase;
    max-width: 1000px;
    margin: 0 auto;
}

h1 + p{
    color: #fff;
    text-transform: uppercase;
}

.bg{
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 300px 0;
    text-align: center;
}

.wrapper{
    max-width: 1110px;
    margin: 0 auto;
}

.wrapper-gray{
    background-color: #f7f3f7;
}

.stat{
    text-align: center;
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: -200px auto 0;
}

.stat-item h2{
    font-size: 72px;
    color: #F7654A;
}

.stat-item h3{
    font-size: 36px;
}

.stat-item p{
    color: #999;
}