body{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

.bg-title{
    color: #fff;
    font-size: 64px;
    text-transform: uppercase;
    max-width: 849px;
    margin: 0 auto;
    line-height: 1.5;
}

.bg-subtitle{
    color: #fff;
    text-transform: uppercase;
}

.bg{
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 300px 0;
    text-align: center;
}

.wrapper{
    max-width: 1110px;
    margin: 0 auto;
}

.wrapper-gray{
    background-color: #f7f3f7;
}

.stat{
    text-align: center;
    display: flex;
    justify-content: space-between;
    max-width: 780px;
    margin: -150px auto 0;
    padding-top: 70px;
    padding-bottom: 35px;
}

.stat-item-number{
    font-size: 72px;
    color: #F7654A;
    margin-top: 0;
    margin-bottom: 22px;
}

.stat-item-title{
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 11px;
}

.stat-item-subtitle{
    color: #999;
    margin-top: 0;
}

.party-title{
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 106px;
}

.box-party{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 56px;
    margin-bottom: 85px;
}

.box-party-item{
    flex-basis: 31.5%;
    max-width: 31.5%;
}

.party-img{
    width: 100%;
}

.party-subtitle{
    padding-top: 28px;
    position: relative;
    margin-top: 43px;
    letter-spacing: 1.4px;
}

.party-subtitle::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 55px;
    height: 6px;
    background-color: #F7654A;
}

.contact{
    background-color: #F7654A;
    color: #fff;
}

.box-contact{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.button{
    background-color: #fff;
    border: none;
    padding: 15px 20px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.contact-title{
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

.contact-text{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

.grid{
    text-align: center;
    display: grid;
    grid-template-areas: "a b c" "d e f";
    grid-gap: 20px;
}

.features-item{
    background-color: #f7f7f7;
    padding: 20px;
}

.grid-one{
    grid-area: a;
}

.grid-two{
    grid-area: b;
}

.grid-three{
    grid-area: c;
}

.grid-four{
    grid-area: d;
}

.grid-five{
    grid-area: e;
}

.grid-six{
    grid-area: f;
}

.features-item-subtitle{
    margin: 20px auto;
    max-width: 135px;
    text-transform: uppercase;
}

.grid-photo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-photo-item{
    height: 100%;
    position: relative;
}

.grid-photo-item::before{
    position: absolute;
    content: "";
    display: block;
    background-color: rgba(64, 65, 73, 0.5);
    width: 100%;
    height: 100%;
    transition: 0.3s;
    cursor: pointer;
}

.grid-photo-item:hover::before{
    background-color: rgba(64, 65, 73, 0);
}

.photo-img{
    height: 100%;
    width: 100%;
}